@import "../../app/styles/theme";
@import "../../app/styles/mixins";

@button-text-size: 1rem;
@button-text-size-tablet: calc(@button-text-size + 0.5rem);

.gameNotification {
  border-radius: 1rem;
  box-shadow: 0px 16px 16px 8px rgba(0,0,0,0.25);
  color: #777;
  background-color: @white;
  font-size: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  .padding-y(1rem);
  .padding-x(2rem);
  align-items: center;
  gap: 1rem;
  max-width: 80%;

  @media @tablet {
    min-width: 50%;
    .padding-y(2rem);
    font-size: 2rem;
    gap: 2rem;
  }
  @media @desktop {
    font-size: 2rem;
    min-width: 30%;
    .padding-y(3rem);
    gap: 2rem;
  }
}

.newGameButton {
  font-size: @button-text-size;
  color: lighten(@black, 20%);
  .padding-y(0.5rem);
  .padding-x(1rem);
  border-radius: 0.3rem;
  background-color: #eee;

  @media @tablet {
    .padding-y(1rem);
    font-size: @button-text-size-tablet;
  }
  @media @desktop {
    .padding-y(1rem);
  }

  &:hover {
    cursor: pointer;
    background-color: #ddd;
  }
}

.shipImg {
  width: 60%;
}

.shipSunk {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: @gap-mobile;

  @media @tablet {
    padding-bottom: 1rem;
    gap: @gap-tablet;
  }
  @media @desktop {
    padding-bottom: 2rem;
    gap: @gap-desktop;
  }
}
