@import "../../app/theme";

.game {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: start;
  gap: @game-sections-gap;

  @media @desktop {
    flex-direction: row;
  }
}

.gameBoard {
  order: 1;

  @media @desktop {
    order: 2;
  }
}

.scoreBoard {
  order: 2;

  @media @desktop {
    order: 1;
  }
}
// .game {
//   display: grid;
//   grid-template-columns: [scoreBoard] 30% [gameBoard] 70%;
//   min-height: 100vh;
//   justify-items: center;
//   // justify-content: space-around;
//   align-content: center;
//   align-items: start;
// }

// .scoreBoard {
//   flex:
// }
