@import "../../app/styles/theme";

.game {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: start;
  
  @media @tablet {
    gap: @gap-tablet;
  }
  @media @desktop {
    gap:@gap-desktop;
    flex-direction: row;
    justify-content: center;
  }
}

.gameBoard {
  order: 1;

  @media @desktop {
    order: 2;
  }
}

.scoreBoard {
  order: 2;
  width: 100%;

  @media @desktop {
    order: 1;
    width: auto;
  }
}
