@import "../../app/theme";

.scoreBoard {
  display: flex;
  flex-direction: column;
  gap: @game-sections-gap; 
}

.playerInfo {
  color: @black;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;

  > hr {
    margin: 0;
    border: 0.1px solid @black;
    background-color: @black;
    border-color: @black;
    width: 100%;
  }
}

.score {
  flex: 2;
  font-size: @text-player-score;
}

.player1 {
  flex: 1;
  background-color: @color-player1;
}

.player2 {
  flex: 1;
  background-color: @color-player2;
}

.playerName {
  font-weight: @text-bold;
  font-size: @text-player-name;
}


